
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<h2>Sign Up</h2>
<div><%= f.label :name %> <br />
<%= f.text_field :name, :size => 45  %></div>

<div><%= f.label :email %><br />
<%= f.email_field :email, :size => 45  %></div>

<div><%= f.label :password %><br />
<%= f.password_field :password, :size => 45  %></div>

<div><%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation, :size => 45  %></div>

<h2><%= f.label :position %></h2>
<div id="baseball-field">
	<ul id="outfield">
		<li id="RF"><%= f.radio_button(:position,"RF") %></li>
		<li id="CF"><%= f.radio_button(:position,"CF") %></li>
		<li id="LF"><%= f.radio_button(:position,"LF") %></li>
	</ul>
	<ul id="infield">
		<li id="first"><%= f.radio_button(:position,"1B") %></li>
		<li id="second"><%= f.radio_button(:position,"2B") %></li>
		<li>
			<div id="pitch"><%= f.radio_button(:position,"P") %></div>
			<div id="catch"><%= f.radio_button(:position,"C") %></div>
		</li>
		<li id="short"><%= f.radio_button(:position,"SS") %></li>
		<li id="third"><%= f.radio_button(:position,"3B") %></li>
	</ul>
</div>
<h2><%= f.label :bats %></h2>
	<div class="options">
		R:<%= f.radio_button(:bats,"Right") %>&nbsp;&nbsp;
		L:<%= f.radio_button(:bats,"Left") %>&nbsp;&nbsp;
		SW:<%= f.radio_button(:bats,"Switch") %>&nbsp;&nbsp;
	</div>
<h2><%= f.label :throws %></h2>
	<div class="options">
		R:<%= f.radio_button(:throws,"Right") %>&nbsp;&nbsp;
		L:<%= f.radio_button(:throws,"Left") %>&nbsp;&nbsp;
		SW:<%= f.radio_button(:throws,"Switch") %>&nbsp;&nbsp;
	</div>
<h2><%= f.label :notes %></h2>
<%= f.text_area :notes, :cols => 40, :rows => 5 %>

<div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>



<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Account</a></li>
		<li><a href="#tabs-2">Player Info</a></li>
		<li><a href="#tabs-3">Team Info</a></li>
	</ul>
	<div id="tabs-1">
		<div><label for="player_name">Name</label> <br />
		<input id="player_name" name="player[name]" size="45" type="text" /></div>

		<div><label for="player_email">Email</label><br />
		<input id="player_email" name="player[email]" size="45" type="email" value="" /></div>

		<div><label for="player_password">Password</label><br />
		<input id="player_password" name="player[password]" size="45" type="password" /></div>

		<div><label for="player_password_confirmation">Password confirmation</label><br />
		<input id="player_password_confirmation" name="player[password_confirmation]" size="45" type="password" /></div>
		<br />
		<a href="#" id="next-tab">Next</a>
	</div>
	<div id="tabs-2">
		<label for="player_position">Position</label>
		<div id="baseball-field">
			<ul id="outfield">

				<li id="RF"><input id="player_position_rf" name="player[position]" type="radio" value="RF" /></li>
				<li id="CF"><input id="player_position_cf" name="player[position]" type="radio" value="CF" /></li>
				<li id="LF"><input id="player_position_lf" name="player[position]" type="radio" value="LF" /></li>
			</ul>
			<ul id="infield">
				<li id="first"><input id="player_position_1b" name="player[position]" type="radio" value="1B" /></li>
				<li id="second"><input id="player_position_2b" name="player[position]" type="radio" value="2B" /></li>
				<li>
					<div id="pitch"><input id="player_position_p" name="player[position]" type="radio" value="P" /></div>

					<div id="catch"><input id="player_position_c" name="player[position]" type="radio" value="C" /></div>
				</li>
				<li id="short"><input id="player_position_ss" name="player[position]" type="radio" value="SS" /></li>
				<li id="third"><input id="player_position_3b" name="player[position]" type="radio" value="3B" /></li>
			</ul>
		</div>
		<label for="player_bats">Bats</label>
			<div class="options">
				R:<input id="player_bats_right" name="player[bats]" type="radio" value="Right" />&nbsp;&nbsp;

				L:<input id="player_bats_left" name="player[bats]" type="radio" value="Left" />&nbsp;&nbsp;
				SW:<input id="player_bats_switch" name="player[bats]" type="radio" value="Switch" />&nbsp;&nbsp;
			</div>
		<label for="player_throws">Throws</label>
			<div class="options">
				R:<input id="player_throws_right" name="player[throws]" type="radio" value="Right" />&nbsp;&nbsp;
				L:<input id="player_throws_left" name="player[throws]" type="radio" value="Left" />&nbsp;&nbsp;

				SW:<input id="player_throws_switch" name="player[throws]" type="radio" value="Switch" />&nbsp;&nbsp;
			</div>
		<label for="player_notes">Notes</label>
		<textarea cols="40" id="player_notes" name="player[notes]" rows="5"></textarea>
	</div>
	<div id="tabs-3">
		<input type="text" />
	</div>
</div>