<% content_for(:title) do %>
	Make Me A Baseball Card :: Change Password
<% end %>
<div class="sign-in-block">
	<h2>Change Password</h2>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	
	  <div><%= f.label :email %><span class="required"> * </span><br />
	  <%= f.email_field :email, :size => 45 %></div>

	  <div><%= f.label :current_password %><span class="required"> * </span><br />
	  <%= f.password_field :current_password, :size => 45 %></div>

	  <div><%= f.label :new_password %><span class="required"> * </span><br />
	  <%= f.password_field :password, :size => 45 %></div>

	  <div><%= f.label :password_confirmation %><span class="required"> * </span><br />
	  <%= f.password_field :password_confirmation, :size => 45 %></div>

	  <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.submit "Update" %></div>
	<% end %>
	<div class="bottom"><%= link_to "Cancel", :back %></div>
</div>