<% content_for(:title) do %>
	Make Me A Baseball Card :: Create Account
<% end %>
<div class="sign-in-block">
	<h2>Sign Up</h2>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	
	<div><label>Email address</label><span class="required"> * </span>
		<br />
		<%= f.email_field :email, :size => 45  %>
	</div>

	<div><label>Password</label><span class="required"> * </span><br />
	<%= f.password_field :password, :size => 45  %></div>

	<div><label>Password confirmation</label><span class="required"> * </span><br />
	<%= f.password_field :password_confirmation, :size => 45  %></div>

	<div><%= link_to "Forgot password?", new_password_path(resource_name) %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit "Sign Up" %>
	</div>
	
	
	<% end %>
</div>
<div class="sign-in-block">
	<h2>Get Started</h2>
	<ul>
		<li>Create an account with your email address and a password</li>
		<li>Add some player information and picture</li>
		<li>Track game stats and print your own card!</li>
	</ul>
	<p class="bottom">
		<script type="text/javascript"><!--
google_ad_client = "ca-pub-7407856351737007";
/* makeme */
google_ad_slot = "6994441098";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</p>
</div>