<div class="sign-in-block">
	<h2>Sign Up</h2>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	
	<div><label>Email address</label><span class="required"> * </span>
		<br />
		<%= f.email_field :email, :size => 45  %>
	</div>

	<div><label>Password</label><span class="required"> * </span><br />
	<%= f.password_field :password, :size => 45  %></div>

	<div><label>Password confirmation</label><span class="required"> * </span><br />
	<%= f.password_field :password_confirmation, :size => 45  %></div>

	<div><%= link_to "Forgot password?", new_password_path(resource_name) %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit "Sign Up" %>
	</div>
	
	
	<% end %>
</div>
<div class="sign-in-block">
	<%= render :partial => "home/whats_new"%>
</div>