<div class="sign-in-block">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	<h2>Sign Up</h2>

	<div><%= f.label :email %><br />
	<%= f.email_field :email, :size => 45  %></div>

	<div><%= f.label :password %><br />
	<%= f.password_field :password, :size => 45  %></div>

	<div><%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, :size => 45  %></div>

	<div><%= f.submit "Sign Up" %></div>
	<% end %>
</div>
<div class="sign-in-block">
	<%= render :partial => "home/whats_new"%>
</div>

<%= render :partial => "devise/shared/links" %>