<% if !player_signed_in? %>
	<ul class="sign-in-buttons">
		<li><%= link_to('Sign In', new_player_session_path, :class =>"fake-button") %></li>
		<li><%= link_to('Sign Up', new_player_registration_path, :class =>"fake-button") %></li>
	</ul>
<% else %>
	<ul class="sign-in-buttons">
		<li><%= link_to('Logout', destroy_player_session_path, :method => :delete, :class =>"fake-button") %></li>
	</ul>
	<ul class="sign-in-buttons">
		<li id="has-sub-nav"><%= link_to('My Account', edit_player_path(@player), :id =>"edit-player", :class =>"fake-button") %>
			<ul id="sub-nav">
				<li><%= link_to( 'Change Password', edit_player_registration_path,:class=>"ui-corner-all" )%></li>
				<li><%= link_to('Edit Info', edit_player_path(@player), :class=>"ui-corner-all" )%></li>
			</ul>
		</li>
	</ul>
<% end %>
