<%= form_for ([@player, @player.games.build]) do |f| %>
	<tr>
		<td><%= f.text_field :name, :size => 10 %></td>
		<td><%= f.text_field :at_bats, :size => 3 %></td>
		<td><%= f.text_field :runs, :size => 3 %></td>
		<td><%= f.text_field :hits, :size => 3 %></td>
		<td><%= f.text_field :singles, :size => 3 %></td>
		<td><%= f.text_field :doubles, :size => 3 %></td>
		<td><%= f.text_field :triples, :size => 3 %></td>
		<td><%= f.text_field :homeruns, :size => 3 %></td>
		<td><%= f.text_field :rbis, :size => 3 %></td>
		<td><%= f.text_field :walks, :size => 3 %></td>
		<td><%= f.text_field :total_bases, :size => 3 %></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<%= f.submit %>
<% end %>
<br />