<p class="validateTips"></p>
	<table cellspacing="0" cellpadding="0">
		<thead>
			<tr class="scoreboard">
				<th style="text-align:left"><img src="/images/scoreboard/team.png" /></th>
				<th style="text-align:left"><img src="/images/scoreboard/date.png" /></th>
				<th><img src="/images/scoreboard/h.png" /></th>			
				<th><img src="/images/scoreboard/ab.png"></th>
				<th><img src="/images/scoreboard/r.png"></th>
				<th><img src="/images/scoreboard/1b.png"></th>
				<th><img src="/images/scoreboard/2b.png"></th>
				<th><img src="/images/scoreboard/3b.png"></th>
				<th><img src="/images/scoreboard/hr.png"></th>
				<th><img src="/images/scoreboard/rbi.png"></th>
				<th><img src="/images/scoreboard/bb.png"></th>
				<th><img src="/images/scoreboard/k.png"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= form_for ([@player, @player.games.build]) do |f| %>
				<tr>
					<td><%= f.text_field :name, :size => 20, :style =>'text-align:left' %></td>
					<td>
						<input id="datepicker" type="text" size="10" style="text-align:left" />
						<%= f.hidden_field 'date' %>
					</td>
					<td><%= f.text_field :hits, :size => 3, :value => 0 %></td>		
					<td><%= f.text_field :at_bats, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :runs, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :singles, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :doubles, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :triples, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :homeruns, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :rbis, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :walks, :size => 3, :value => 0 %></td>
					<td><%= f.text_field :strike_outs, :size => 3, :value => 0 %></td>
					<td><input id= "submit_game", type="button", value="Add Game" /></td>
			<% end %>
				</tr>
		</tbody>
	</table>