<% games.each do |game| %>
<% if game.id != nil %>
<tr>
	<td style="text-align:left"><%= game.team_name %></td>
	<td style="text-align:left"><%= game.date %></td>
	<td><%= game.hits %></td>		
	<td><%= game.at_bats %></td>
	<td><%= game.runs %></td>
	<td><%= game.singles %></td>
	<td><%= game.doubles %></td>
	<td><%= game.triples %></td>
	<td><%= game.homeruns %></td>
	<td><%= game.rbis %></td>
	<td><%= game.walks %></td>
	<td><%= game.strike_outs %></td>
	<td><%= link_to "Edit", edit_player_game_path(:player_id=>game.player_id, :id => game.id)%></td>
</tr>
<% end %>
<% end %>