<tbody>
	<tr>
		<td><%= game.name %></td>
		<td><%= game.at_bats %></td>
		<td><%= game.runs %></td>
		<td><%= game.hits %></td>
		<td><%= game.doubles %></td>
		<td><%= game.triples %></td>
		<td><%= game.homeruns %></td>
		<td><%= game.rbis %></td>
		<td><%= game.walks %></td>
		<td>TODO K's</td>
		<td><%= number_with_precision(game.batting_average, :precision => 3 )%></td>
		<td><%= number_with_precision(game.slugging_percentage, :precision => 3)%></td>
		<td>TODO On base %</td>
	</tr>