<div class="score-board">
	<div id="game-error" class="ui-widget" style="display:none">
		<div class="ui-state-error ui-corner-all" style="padding: 0.7em;">
			<p class="validate-tips">
			</p>
		</div>
	</div>
	<table cellspacing="0" cellpadding="0">
		<thead>
			<%= render :partial => "games/score_board_header" %>
		</thead>
		<tbody>
			<%= form_for ([@player, @game]) do |f| %>
				<tr>
					<td><%= f.text_field :team_name, :size => 18, :style =>'text-align:left' %></td>
					<td>
						<input id="datepicker" type="text" size="11" style="text-align:left" value="Game Date" />
						<%= f.hidden_field 'date' %>
					</td>
					<td><%= f.text_field :hits, :size => 3 %></td>
					<td><%= f.text_field :at_bats, :size => 3 %></td>
					<td><%= f.text_field :runs, :size => 3 %></td>
					<td><%= f.text_field :singles, :size => 3 %></td>
					<td><%= f.text_field :doubles, :size => 3 %></td>
					<td><%= f.text_field :triples, :size => 3 %></td>
					<td><%= f.text_field :homeruns, :size => 3 %></td>
					<td><%= f.text_field :rbis, :size => 3 %></td>
					<td><%= f.text_field :walks, :size => 3 %></td>
					<td><%= f.text_field :strike_outs, :size => 3, %></td>
					<td><a href="#" id="update_game" class="fake-button">Update</a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>