<table id="career-stats" class="stats-table" cellspacing="0px" cellpadding="0px" width="97%">
	<thead>
		<tr class="header">
			<th title="Games">G</th>
			<th title="Batting Average">AVG</th>
			<th title="At Bats">AB</th>
			<th title="Runs">R</th>
			<th title="Hits">H</th>
			<th title="Singles">1B</th>
			<th title="Doubles">2B</th>
			<th title="Triples">3B</th>
			<th title="Homeruns">HR</th>
			<th title="Runners Batted In">RBI</th>
			<th title="Base on Balls">BB</th>
			<th title="Strike Outs">K</th>
			<th title="Slugging Percentage">SLG</th>
			<th title="On Base Percentage">OB %</th>											
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @player.num_games %></td>
			<td><%= to_ba(number_with_precision(@player.batting_average, :precision => 3)) %></td>
			<td><%= @player.at_bats %></td>
			<td><%= @player.runs %></td>
			<td><%= @player.hits %></td>
			<td><%= @player.singles %></td>
			<td><%= @player.doubles %></td>
			<td><%= @player.triples %></td>
			<td><%= @player.homeruns %></td>
			<td><%= @player.rbis %></td>
			<td><%= @player.walks %></td>
			<td><%= @player.strike_outs %></td>
			<td><%= to_ba(number_with_precision(@player.slugging_percentage, :precision => 3)) %></td>
			<td><%= to_ba(number_with_precision(@player.on_base_percentage, :precision => 3)) %></td>
		</tr>
	</tbody>			
</table>
