<%= form_for(@player, :html => { :multipart => true }) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style type="text/css">
.third{
	width:31%;
	float:left;
	display:inline;
	padding:10px;
	border:1px solid #fff;
}
</style>
<div class="third">
	<% if !@player.avatar_file_name %>
		<img src="/images/avatar_placeholder.png" />
	<% else %>
		<%= image_tag @player.avatar.url(:medium) %>
	<% end %>
	<br />
	<div><label for="player_avatar">Upload your picture</label> <br />
	<%= f.file_field :avatar %></div>
</div>
<div class="third">
	<div><%= f.label :name %> <br />
	<%= f.text_field :name, :size => 45  %></div>
	<div><%= f.label :bats %> <br />
		<div class="options">
			R:<%= f.radio_button(:bats,"Right") %>&nbsp;&nbsp;
			L:<%= f.radio_button(:bats,"Left") %>&nbsp;&nbsp;
			SW:<%= f.radio_button(:bats,"Switch") %>&nbsp;&nbsp;
		</div>
	</div>
	<div><%= f.label :throws %> <br />
		<div class="options">
			R:<%= f.radio_button(:throws,"Right") %>&nbsp;&nbsp;
			L:<%= f.radio_button(:throws,"Left") %>&nbsp;&nbsp;
			SW:<%= f.radio_button(:throws,"Switch") %>&nbsp;&nbsp;
		</div>
	</div>
</div>
<div class="third">
	<div><%= f.label :position %> <br />
		<div id="baseball-field">
			<ul id="outfield">
				<li id="RF"><%= f.radio_button(:position,"RF") %></li>
				<li id="CF"><%= f.radio_button(:position,"CF") %></li>
				<li id="LF"><%= f.radio_button(:position,"LF") %></li>
			</ul>
			<ul id="infield">
				<li id="first"><%= f.radio_button(:position,"1B") %></li>
				<li id="second"><%= f.radio_button(:position,"2B") %></li>
				<li>
					<div id="pitch"><%= f.radio_button(:position,"P") %></div>
					<div id="catch"><%= f.radio_button(:position,"C") %></div>
				</li>
				<li id="short"><%= f.radio_button(:position,"SS") %></li>
				<li id="third"><%= f.radio_button(:position,"3B") %></li>
			</ul>
		</div>
	</div>
</div>
	<div style="clear:both"><%= f.submit "Update" %></div>
<% end %>
