<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p class="validateTips"></p>
  <div id="create-player">
	<div id="player-name">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</div>
	<div id="player-position">
		<%= f.label :position %>
		<div id="baseball-field">
			<ul id="outfield">
				<li id="RF"><%= f.radio_button(:position,"RF") %></li>
				<li id="CF"><%= f.radio_button(:position,"CF") %></li>
				<li id="LF"><%= f.radio_button(:position,"LF") %></li>
			</ul>
			<ul id="infield">
				<li id="first"><%= f.radio_button(:position,"1B") %></li>
				<li id="second"><%= f.radio_button(:position,"2B") %></li>
				<li>
					<div id="pitch"><%= f.radio_button(:position,"P") %></div>
					<div id="catch"><%= f.radio_button(:position,"C") %></div>
				</li>
				<li id="short"><%= f.radio_button(:position,"SS") %></li>
				<li id="third"><%= f.radio_button(:position,"3B") %></li>
			</ul>
		</div>
	</div>    		
	<div id="player-attributes">
		<%= f.label :bats %>
			<div class="options">
				R:<%= f.radio_button(:bats,"Right") %>&nbsp;&nbsp;
				L:<%= f.radio_button(:bats,"Left") %>&nbsp;&nbsp;
				SW:<%= f.radio_button(:bats,"Switch") %>&nbsp;&nbsp;
			</div>
		<%= f.label :throws %>
			<div class="options">
				R:<%= f.radio_button(:throws,"Right") %>&nbsp;&nbsp;
				L:<%= f.radio_button(:throws,"Left") %>&nbsp;&nbsp;
				SW:<%= f.radio_button(:throws,"Switch") %>&nbsp;&nbsp;
			</div>
		<%= f.label :notes %><br />
		<%= f.text_area :notes, :cols => 40, :rows => 5 %>
		
	</div>
  </div>
<% end %>
