<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p class="validateTips"></p>
<div id="tabs">
	<ul>
		<li><a href="#account-info">Account</a></li>
		<li><a href="#player-info">Player Info</a></li>
		<li><a href="#card-info">Card Template</a></li>
	</ul>
	<div id="account-info">

	</div>
	<div id="player-info">
		<h2><%= f.label :position %></h2>
		<div id="baseball-field">
			<ul id="outfield">
				<li id="RF"><%= f.radio_button(:position,"RF") %></li>
				<li id="CF"><%= f.radio_button(:position,"CF") %></li>
				<li id="LF"><%= f.radio_button(:position,"LF") %></li>
			</ul>
			<ul id="infield">
				<li id="first"><%= f.radio_button(:position,"1B") %></li>
				<li id="second"><%= f.radio_button(:position,"2B") %></li>
				<li>
					<div id="pitch"><%= f.radio_button(:position,"P") %></div>
					<div id="catch"><%= f.radio_button(:position,"C") %></div>
				</li>
				<li id="short"><%= f.radio_button(:position,"SS") %></li>
				<li id="third"><%= f.radio_button(:position,"3B") %></li>
			</ul>
		</div>
		<h2><%= f.label :bats %></h2>
			<div class="options">
				R:<%= f.radio_button(:bats,"Right") %>&nbsp;&nbsp;
				L:<%= f.radio_button(:bats,"Left") %>&nbsp;&nbsp;
				SW:<%= f.radio_button(:bats,"Switch") %>&nbsp;&nbsp;
			</div>
		<h2><%= f.label :throws %></h2>
			<div class="options">
				R:<%= f.radio_button(:throws,"Right") %>&nbsp;&nbsp;
				L:<%= f.radio_button(:throws,"Left") %>&nbsp;&nbsp;
				SW:<%= f.radio_button(:throws,"Switch") %>&nbsp;&nbsp;
			</div>
		<h2><%= f.label :notes %></h2>
		<%= f.text_area :notes, :cols => 40, :rows => 5 %>
	</div>
	<div id="card-info">
		<div><%= f.file_field :avatar %></div>
	</div>

<div><%= f.submit "Update" %></div>
<% end %>
