<%= form_for(@player, :html => { :multipart => true}) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="third">
	<div class="card-front">
		<% if !@player.avatar_file_name %>
			<img id="player-picture" src="/images/avatar_placeholder.png" />
		<% else %>
			<%= image_tag @player.avatar.url(:large) %>
		<% end %>
		<div class="player-name">
			<%= @player.name %>
		</div>
	</div>
	<div><%= f.file_field :avatar %></div>
</div>
<div class="two-thirds">
	<div><%= f.label :name %> <span class="required"> * </span><br />
	<%= f.text_field :name, :size => 40  %></div>
	<br />
	<div><%= f.label :bats %> <br />
		<div class="options">
			Right:<%= f.radio_button(:bats,"Right") %>&nbsp;&nbsp;
			Left:<%= f.radio_button(:bats,"Left") %>&nbsp;&nbsp;
			Switch:<%= f.radio_button(:bats,"Switch") %>&nbsp;&nbsp;
		</div>
	</div>
	<br />
	<div><%= f.label :throws %> <br />
		<div class="options">
			Right:<%= f.radio_button(:throws,"Right") %>&nbsp;&nbsp;
			Left:<%= f.radio_button(:throws,"Left") %>&nbsp;&nbsp;
			Switch:<%= f.radio_button(:throws,"Switch") %>&nbsp;&nbsp;
		</div>
	</div>
	<br />
	<div><%= f.label :notes %> <br />
		<%= f.text_area :notes, :cols =>34, :rows => 5 %>
	</div>
	<br />
	<div><%= f.label :position %> <br />
		<div id="baseball-field">
			<ul id="outfield">
				<li id="RF"><%= f.radio_button(:position,"RF", :title => "Right Field") %></li>
				<li id="CF"><%= f.radio_button(:position,"CF", :title => "Center Field") %></li>
				<li id="LF"><%= f.radio_button(:position,"LF", :title => "Left Field") %></li>
			</ul>
			<ul id="infield">
				<li id="first"><%= f.radio_button(:position,"1B", :title => "First Base") %></li>
				<li id="second"><%= f.radio_button(:position,"2B", :title => "Second Base") %></li>
				<li>
					<div id="pitch"><%= f.radio_button(:position,"P", :title => "Pitcher") %></div>
					<div id="catch"><%= f.radio_button(:position,"C", :title => "Catcher") %></div>
				</li>
				<li id="short"><%= f.radio_button(:position,"SS", :title => "Shortstop") %></li>
				<li id="third"><%= f.radio_button(:position,"3B", :title => "Third Base") %></li>
			</ul>
		</div>
	</div>
</div>

	<div style="clear:both"><%= f.submit "Update" %></div>
<% end %>