<table id="season-stats" class="stats-table" cellspacing="0px" cellpadding="0px" width="97%">
	<thead>
		<tr class="header">
			<th>G</th>
			<th>AVG</th>
			<th>AB</th>
			<th>R</th>
			<th>H</th>
			<th>1B</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>BB</th>
			<th>K</th>
			<th>SLG</th>
			<th>OB %</th>				
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @player.num_games %></td>
			<td><%= number_with_precision(@player.batting_average, :precision => 3) %></td>
			<td><%= @player.at_bats %></td>
			<td><%= @player.runs %></td>
			<td><%= @player.hits %></td>
			<td><%= @player.singles %></td>
			<td><%= @player.doubles %></td>
			<td><%= @player.triples %></td>
			<td><%= @player.homeruns %></td>
			<td><%= @player.rbis %></td>
			<td><%= @player.walks %></td>
			<td><%= @player.strike_outs %></td>
			<td><%= number_with_precision(@player.slugging_percentage, :precision => 3) %></td>
			<td><%= number_with_precision(@player.on_base_percentage, :precision => 3) %></td>
		</tr>
	</tbody>			
</table>
