<table id="season-stats" class="stats-table" cellspacing="0px" cellpadding="0px" width="97%">
	<thead>
		<tr class="header">
			<th title="Year">YR</th>
			<th title="Games">G</th>
			<th title="Batting Average">AVG</th>
			<th title="At Bats">AB</th>
			<th title="Runs">R</th>
			<th title="Hits">H</th>
			<th title="Singles">1B</th>
			<th title="Doubles">2B</th>
			<th title="Triples">3B</th>
			<th title="Homeruns">HR</th>
			<th title="Runners Batted In">RBI</th>
			<th title="Base on Balls">BB</th>
			<th title="Strike Outs">K</th>
			<th title="Slugging Percentage">SLG</th>
			<th title="On Base Percentage">OB %</th>				
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2012</td>
			<td><%= @player.num_games(2012) %></td>
			<td><%= to_ba(@player.batting_average(2012).to_s) %></td>
			<td><%= @player.at_bats(2012) %></td>
			<td><%= @player.runs(2012) %></td>
			<td><%= @player.hits(2012) %></td>
			<td><%= @player.singles(2012) %></td>
			<td><%= @player.doubles(2012) %></td>
			<td><%= @player.triples(2012) %></td>
			<td><%= @player.homeruns(2012) %></td>
			<td><%= @player.rbis(2012) %></td>
			<td><%= @player.walks(2012) %></td>
			<td><%= @player.strike_outs(2012) %></td>
			<td><%= number_with_precision(@player.slugging_percentage(2012), :precision => 3) %></td>
			<td><%= number_with_precision(@player.on_base_percentage(2012), :precision => 3) %></td>
		</tr>
	</tbody>			
</table>