<table id="season-stats" class="stats-table" cellspacing="0px" cellpadding="0px" width="97%">
	<thead>
		<tr class="header">
			<th title="Year">YR</th>
			<th title="Games">G</th>
			<th title="Batting Average">AVG</th>
			<th title="At Bats">AB</th>
			<th title="Runs">R</th>
			<th title="Hits">H</th>
			<th title="Singles">1B</th>
			<th title="Doubles">2B</th>
			<th title="Triples">3B</th>
			<th title="Homeruns">HR</th>
			<th title="Runners Batted In">RBI</th>
			<th title="Base on Balls">BB</th>
			<th title="Strike Outs">K</th>
			<th title="Slugging Percentage">SLG</th>
			<th title="On Base Percentage">OB %</th>				
		</tr>
	</thead>
	<tbody>
		<% while @year <= @newest_year %>
			<% if @player.num_games(@year) >= 1 %>
				<tr>
					<td><%= @year.to_s %></td>
					<td><%= @player.num_games(@year) %></td>
					<td><%= to_ba(number_with_precision(@player.batting_average(@year),:precision =>3 )) %></td>
					<td><%= @player.at_bats(@year) %></td>
					<td><%= @player.runs(@year) %></td>
					<td><%= @player.hits(@year) %></td>
					<td><%= @player.singles(@year) %></td>
					<td><%= @player.doubles(@year) %></td>
					<td><%= @player.triples(@year) %></td>
					<td><%= @player.homeruns(@year) %></td>
					<td><%= @player.rbis(@year) %></td>
					<td><%= @player.walks(@year) %></td>
					<td><%= @player.strike_outs(@year) %></td>
					<td><%= to_ba(number_with_precision(@player.slugging_percentage(@year), :precision => 3)) %></td>
					<td><%= to_ba(number_with_precision(@player.on_base_percentage(@year), :precision => 3)) %></td>
				</tr>
			<% end %>
			<% @year += 1 %>
		<% end %>
	</tbody>			
</table>