<table cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td>
			<div id="print-card-front">
				<img id="print-card-front-template" src="/images/card-assets/tops_template_front.png" />
					<% if !@player.avatar_file_name %>
						<img id="player-picture" src="/images/avatar_placeholder.png" />
					<% else %>
						<%= image_tag @player.avatar.url(:large), :id =>"player-picture"%>
					<% end %>
				<div id="front-player-name">
					<%= @player.name %>
				</div>
			</div>
		</td>
		<td>
			<div id="print-card-back">
				<img src="/images/card-assets/tops_template_back.png" />
				<div id="print-card-back-table">
					<div id="print-name-position">
						<div id="print-position">
							<%= @player.position %>
						</div>
						<div id="print-player-name">
						<%= @player.name %>
						</div>
					</div>
				<br />
					<table id="back-of-card-stats" cellspacing="0px" cellpadding="0px">
						<thead>
							<tr class="header-row">
								<th style="text-align:left">YR</th>
								<th>H</th>			
								<th>AB</th>
								<th>AVG</th>
								<th>R</th>
								<th>1B</th>
								<th>2B</th>
								<th>3B</th>
								<th>HR</th>
								<th>RBI</th>
								<th>K</th>
								<th>BB</th>
								<th>SLG</th>
								<th>OB</th>								
							</tr>
						</thead>
						<tbody>
							<% while @year <= @newest_year %>
								<% if @player.num_games(@year) >= 1 %>
									<tr>
										<td><%= @year.to_s %></td>
										<td><%= @player.hits(@year) %></td>
										<td><%= @player.at_bats(@year) %></td>
										<td><%= to_ba(number_with_precision(@player.batting_average(@year), :precision => 3)) %></td>
										<td><%= @player.runs(@year) %></td>
										<td><%= @player.singles(@year) %></td>
										<td><%= @player.doubles(@year) %></td>
										<td><%= @player.triples(@year) %></td>
										<td><%= @player.homeruns(@year) %></td>
										<td><%= @player.rbis(@year) %></td>
										<td><%= @player.strike_outs(@year) %></td>
										<td><%= @player.walks(@year) %></td>
										<td><%= to_ba(number_with_precision(@player.slugging_percentage(@year), :precision => 3)) %></td>
										<td><%= to_ba(number_with_precision(@player.on_base_percentage(@year), :precision => 3)) %></td>
									</tr>
								<% end %>
								<% @year += 1 %>
							<% end %>
							<tr class="footer-row">
								<td style="text-align:left">TOTAL</td>
								<td><%= @player.hits %></td>
								<td><%= @player.at_bats %></td>
								<td><%= to_ba(number_with_precision(@player.batting_average, :precision =>3)) %></td>
								<td><%= @player.runs %></td>
								<td><%= @player.singles %></td>
								<td><%= @player.doubles %></td>
								<td><%= @player.triples %></td>
								<td><%= @player.homeruns %></td>
								<td><%= @player.rbis %></td>
								<td><%= @player.strike_outs %></td>
								<td><%= @player.walks %></td>
								<td><%= to_ba(number_with_precision(@player.slugging_percentage, :precision => 3)) %></td>
								<td><%= to_ba(number_with_precision(@player.on_base_percentage, :precision => 3)) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</td>
	</tr>
</table>