<% content_for(:title) do %>
<%= "Make Me A Baseball Card :: #{@player.name}'s Stats" %>
<% end %>
<div id="player">
	<div class="third">
		<div id="card" class="card-front">
			<div id="card-options-wrapper" class="ui-widget ui-helper-clearfix">
				<ul>
					<li class="ui-state-default ui-corner-all" title="Print your card">
						<%= link_to "Print", print_card_player_path(@player), :class => "ui-icon ui-icon-print", :target => "_blank"%>
					</li>
					<li class="ui-state-default ui-corner-all" title="Edit your info">
						<%= link_to "Edit Player", edit_player_path(@player), :class => "ui-icon ui-icon-wrench" %>
					</li>
					<li class="ui-state-default ui-corner-all" title="Change your password">
						<%= link_to "Change password", edit_player_registration_path, :class => "ui-icon ui-icon-locked" %>
					</li>					
					<li class="ui-state-default ui-corner-all" title="Upload a picture">
						<a href="#" class="ui-icon ui-icon-image">Upload image</a>
					</li>					
				</ul>
			</div>
			<% if !@player.avatar_file_name %>
				<img id="player-picture" src="/images/avatar_placeholder.png" />
			<% else %>
				<%= image_tag @player.avatar.url(:large) %>
			<% end %>
			<div class="player-name">
				<%= @player.name %>
			</div>
		</div>
	</div>
	<div class="two-thirds">
		<div id="player-stats">
			<table id="name-position">
				<tr>
					<td>
						<%= @player.name %>&nbsp;&nbsp;
					</td>
					<td id="position"><%= @player.position %></td>
				</tr>
			</table>
			<% if @player.num_games > 0 %>	
				<div class="ui-widget-header ui-corner-all stats-head">Season Stats</div>
				<%= render :partial => "season_stats" %>
				<div class="ui-widget-header ui-corner-all stats-head">Career Stats</div>
				<%= render :partial => "career_stats" %>
			<% else %>
				<%= render :partial => "no_games" %>
			<% end %>
			<div class="ui-widget-header ui-corner-all stats-head">Player Bio</div>
			<%= render :partial => "bio" %>
		</div>
	</div>
</div>

<br />
<div class="score-board">
	<div id="game-error" class="ui-widget" style="display:none">
		<div class="ui-state-error ui-corner-all" style="padding: 0.7em;">
			<p class="validate-tips">
			</p>
		</div>
	</div>
	

	<table cellspacing="0" cellpadding="0">
		<thead>
			<%= render :partial => "games/score_board_header" %>
		</thead>
		<tbody>
			<%= render :partial => "games/form" %>
		</tbody>
		<tbody id="all-my-games" style="display:none">
			<%= render :partial => "games/game", :locals => {:games => @player.games } %>
		</tbody>
	</table>
</div>