<% content_for(:head) do %>
<script>
	//<![CDATA[
	$(function() {
		var name = $("#game_name"),
			date = $("#game_date"),
			hits = $("#game_hits"),
			at_bats = $("#game_at_bats"),
			singles = $("#game_singles"),
			doubles = $("#game_doubles"),
			triples = $("#game_triples"),
			homeruns = $("#game_homeruns"),
			allFields = $( [ ] ).add(hits).add(at_bats).add(singles).add(doubles).add(triples).add(homeruns),
			tips = $(".validate-tips");
		
		function updateTips(t) {
				tips.show();
				tips.text(t).addClass("ui-state-error");
		}
		
		function validateGame() {
			numHits = parseInt(singles.val())+parseInt(doubles.val())+parseInt(triples.val())+parseInt(homeruns.val());
			allFields.parent().removeClass("ui-state-error");
			tips.hide();
			
			if (at_bats.val() == "0") {
				at_bats.parent().addClass("ui-state-error");
				updateTips("You didn't enter any at bats!");
				return false;
			}
			
			if (parseInt(hits.val()) > parseInt(at_bats.val())) {
				hits.parent().addClass("ui-state-error");
				at_bats.parent().addClass("ui-state-error");
				updateTips("You can't have more hits than at bats!");
				return false;
			} 
			if (parseInt(hits.val()) != numHits) {
				hits.parent().addClass("ui-state-error");
				singles.parent().addClass("ui-state-error");
				doubles.parent().addClass("ui-state-error");
				triples.parent().addClass("ui-state-error");
				homeruns.parent().addClass("ui-state-error");
				updateTips("Your number of hits doesn't add up!");
				return false;			
			} else {
				return true;
			}
		}
	
		$('#submit_game').click(function() {
			var bValid = true;

			bValid = bValid && validateGame();
			
			if (bValid) {
				$('#new_game').submit();
			}			
		})
		$('#card').hover(
			function () {
				$('#card-options-wrapper').fadeIn();
			},
			function () {
				$('#card-options-wrapper').fadeOut();
			});			
	});
	//]]>
</script>
<% end %>
<style type="text/css">
#card-options-wrapper{
	position:absolute;
	display:none;
	background-color:#696969;
	width:247px;
	height:35px;
	opacity:.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}
#card-options-wrapper ul{
	list-style-type:none;
}
#card-options-wrapper li{
	float:right;
	width:16px;
	padding:3px;
	margin:5px 3px 5px;
	opacity:1.0;
}
</style>

<div id="player">
	<div class="third">
		<div id="card" class="card-front">
			<div id="card-options-wrapper" class="ui-widget">
				<ul>
					<li class="ui-icon ui-state-default ui-corner-all">
						<a href ="#" class="ui-icon ui-icon-print">Edit</a>
					</li>
					<li class="ui-icon ui-state-default ui-corner-all">
						<a href ="#" class="ui-icon ui-icon-gear">Edit</a>
					</li>
				</ul>
			</div>
			<% if !@player.avatar_file_name %>
				<img id="player-picture" src="/images/avatar_placeholder.png" />
			<% else %>
				<%= image_tag @player.avatar.url(:large) %>
			<% end %>
			<div class="player-name">
				<%= @player.name %>
			</div>
		</div>
	</div>
	<div class="two-thirds">
		<div id="player-stats">
			<table id="name-position">
				<tr>
					<td>
						<%= @player.name %>&nbsp;&nbsp;
					</td>
					<td id="position"><%= @player.position %></td>
				</tr>
			</table>
			<div class="ui-widget-header ui-corner-all stats-head">Season Stats</div>
			<%= render :partial => "season_stats" %>
			<div class="ui-widget-header ui-corner-all stats-head">Career Stats</div>
			<%= render :partial => "career_stats" %>
			<div class="ui-widget-header ui-corner-all stats-head">Player Bio</div>
			<%= render :partial => "bio" %>
		</div>
	</div>
</div>

<br />
<div class="score-board">
	<p class="validate-tips"></p>
	<%= render :partial => "games/score_board_header" %>
	<%= render :partial => "games/form" %>
	<%= link_to "List Games", player_games_path(@player) %>
	<%= link_to "Change Password", edit_player_registration_path %>
</div>