<div id="player">
	<div id="card-front">
		<img src="/images/rosie.png" />
		<div class="player-name">
			<%= @player.name %>
		</div>
		<br />
		<div id="edit-player-dd">
			<select>
				<option>Edit My Account</option>
				<option>Edit My Player Info</option>
				<option>Edit My Picture</option>
				<option>Edit My Games</option>
				<option>Edit My Card</option>
			</select>
		</div>
	</div>
	<div id="player-stats">
		<table id="name-position">
			<tr>
				<td><%= @player.name %></td>
				<td id="position"><%= @player.position %></td>
			</tr>
		</table>
		<h3 class="stats-head">Season Stats</h3>
		<%= render :partial => "season_stats" %>
		<h3 class="stats-head">Career Stats</h3>
		<%= render :partial => "career_stats" %>
		<h3 class="stats-head">Player Bio</h3>
		<%= render :partial => "bio" %>
	</div>
</div>

<br />
<div class="score-board">
	<p class="validateTips"></p>
	<%= render :partial => "games/score_board_header" %>
	<%= render :partial => "games/form" %>
	<%= link_to "List Games", player_games_path(@player) %>
	<%= link_to "Edit", edit_player_registration_path %>
</div>

<%= image_tag @player.avatar.url %>
<script>
	//<![CDATA[
	$(function() {
		var name = $("#game_name"),
			date = $("#game_date"),
			hits = $("#game_hits"),
			at_bats = $("#game_at_bats"),
			singles = $("#game_singles"),
			doubles = $("#game_doubles"),
			triples = $("#game_triples"),
			homeruns = $("#game_homeruns"),
			allFields = $( [ ] ).add(hits).add(at_bats).add(singles).add(doubles).add(triples).add(homeruns),
			tips = $(".validateTips");
		
		function updateTips(t) {
				tips.show();
				tips.text(t).addClass("ui-state-highlight");
		}
		
		function validateGame() {
			numHits = parseInt(singles.val())+parseInt(doubles.val())+parseInt(triples.val())+parseInt(homeruns.val());
			allFields.parent().removeClass("ui-state-error");
			tips.hide();
			
			if (at_bats.val() == "0") {
				at_bats.parent().addClass("ui-state-error");
				updateTips("You didn't enter any at bats!");
				return false;
			}
			
			if (parseInt(hits.val()) > parseInt(at_bats.val())) {
				hits.parent().addClass("ui-state-error");
				at_bats.parent().addClass("ui-state-error");
				updateTips("You can't have more hits than at bats!");
				return false;
			} 
			if (parseInt(hits.val()) != numHits) {
				hits.parent().addClass("ui-state-error");
				singles.parent().addClass("ui-state-error");
				doubles.parent().addClass("ui-state-error");
				triples.parent().addClass("ui-state-error");
				homeruns.parent().addClass("ui-state-error");
				updateTips("Your number of hits doesn't add up!");
				return false;			
			} else {
				return true;
			}
		}
	
		$('#submit_game').click(function() {
			var bValid = true;

			bValid = bValid && validateGame();
			
			if (bValid) {
				$('#new_game').submit();
			}			
		})
		
		$('#datepicker').datepicker({
			"altField":"#game_date",
			"altFormat":"yy-mm-dd"
		})

	});
	//]]>
</script>