<!DOCTYPE html>
<html>
<head>
  <title>Softball</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">// <![CDATA[
		$.backstretch("/images/baseball_diamond.jpg");

	// ]]></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<ul>
				<%= render 'devise/menu/login_items' %>
				<%= render 'devise/menu/registration_items' %>
			</ul>
			<h1>MAKE ME A BASEBALL CARD</h1>
		</div>
		<p id="notice"><%= notice %></p>
		<p id="alert"><%= alert %></p>
		<div id="main-content" class="content-block">
			<%= yield %>
		</div>
	</div>
</body>
</html>
