<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", "scaffolds", "style", "jquery.Jcrop", "tipTip" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">// <![CDATA[
		$.backstretch("/images/baseball_diamond.jpg");

	// ]]></script>
	<%= yield(:head) %>
	<%= render "home/analytics" %>
</head>
<body>
	<div id="container">
		<div id="header">
			<% if notice %>
				<div id="notice" class="ui-widget">
					<div class="ui-state-highlight ui-corner-all" style="padding: 0.7em;">
						<p>
							<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
							<%= notice %>
						</p>
					</div>
				</div>
			<% end %>
			<% if !player_signed_in? %>
				<ul class="nav" style="width:auto;float:right;margin:15px 15px 0px 0px;">
					<li><%= link_to('Sign In', new_player_session_path) %></li>
					<li><%= link_to('Sign Up', new_player_registration_path) %></li>
				</ul>
			<% end %>
			<h1><img src="/images/SiteLogo_horz.png" ></h1>
			<% if player_signed_in? %>
				<ul class="nav">
					<li><%= link_to "Home", player_path(@player) %></li>
					<li><%= link_to "Print Card", print_card_player_path(@player), :id=>"print-your-card", :target => "_blank"%></li>
					<li><%= link_to "My Games", player_games_path(@player), :id =>"list-my-games" %></li>
					<li><%= link_to('My Account', edit_player_path(@player) ) %></li>
					<li><%= link_to( 'Change Password', edit_player_registration_path )%></li>
					<li style="float:right;margin-right:8px"><%= link_to('Logout', destroy_player_session_path, :method => :delete) %></li>
				</ul>
			<% end %>
		</div>
		<div id="main-content" class="content-block">			
			<%= yield %>
			<div id="clear">
		</div>
	</div>
	<div id="footer" >
		<%= render :partial => "home/footer" %>
	</div>
</body>
</html>
