<!DOCTYPE html>
<html>
<head>
  <title>Softball</title>
  <%= stylesheet_link_tag "application", "scaffolds", "style", "jquery.Jcrop", "tipTip" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">// <![CDATA[
		$.backstretch("/images/baseball_diamond.jpg");

	// ]]></script>
	<%= yield(:head) %>
	<%= render "home/analytics" %>
	<script>
	$(function() {
		$("#has-sub-nav").hover(function() {
			$("#sub-nav").slideDown();
		},
		function(){
			$("#sub-nav").slideUp();
		});
	});
	</script>
</head>
<body>
	<div id="container">
		<div id="header">
			<% if notice %>
				<div id="notice" class="ui-widget">
					<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0.7em;">
						<p>
							<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
							<%= notice %>
						</p>
					</div>
				</div>
			<% end %>
			<%= render "home/main_nav"%>
			<h1><img src="/images/SiteLogo_horz.png" ></h1>
			<% if player_signed_in? %>
				<%= link_to "Print Card", print_card_player_path(@player), :id=>"print-your-card", :class => "fake-button", :target => "_blank"%>
				<a href="#" id="list-my-games">My Games</a>
			<% end %>
		</div>
		<div id="main-content" class="content-block">			
			<%= yield %>
			<div id="clear">
		</div>
	</div>
</body>
</html>
