<!DOCTYPE html>
<html>
<head>
  <title>Softball</title>
  <%= stylesheet_link_tag "application", "scaffolds", "style", "jquery.Jcrop", "tipTip" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">// <![CDATA[
		$.backstretch("/images/baseball_diamond.jpg");

	// ]]></script>
	<%= yield(:head) %>
	<%= render "home/analytics" %>
</head>
<body>
	<div id="container">
		<div id="header">
			<ul>
				<%= render 'devise/menu/login_items' %>
			</ul>
			<% if notice %>
				<div id="notice" class="ui-widget">
					<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0.7em;">
						<p>
							<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
							<%= notice %>
						</p>
					</div>
				</div>
			<% end %>
			<h1><img src="/images/SiteLogo_horz.png" ></h1>
		</div>

		<div id="main-content" class="content-block">			
			<%= yield %>
			<div id="clear">
		</div>
	</div>
</body>
</html>
