<!DOCTYPE html>
<html>
<head>
  <title>Make Me A Baseball Card :: Print Your Card</title>
  	<%= stylesheet_link_tag "print", :media => "print" %>
	<%= stylesheet_link_tag "print-screen", :media=>"screen" %>
	<%= stylesheet_link_tag "application", "tipTip", "style", :media =>"screen" %>
    <%= javascript_include_tag "application" %>
	<script>
		$(function(){
			$('#accordion').accordion();
		});
	</script>
	<%= render "home/analytics" %>
</head>
<body>
	<!--[if lte IE 8]>
		<%= render :partial => "home/old_browser" %>
	<![endif]-->
	
	<%= yield %>
	
	<div class="right-sidebar">
		<div id="accordion">
			<h3><a href="#">Print</a></h3>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<h3><a href="#">Share</a></h3>
			<div>
				<p>
					Copy and paste the link below to share your card with friends and family.
					<br />
					<input type="text" size="60" readonly="readonly" value = <%= @share_url.to_s %> />
				</p>
				<br />
				<p>
					Click <strong>Share</strong> to make your card public so all your friends and family can see how great you are!
				</p>
				<br />
				<p>
					Click <strong>Cancel</strong> to keep your card private.
				</p><br />
				<p>
					Note: You can change your share settings any time under <%= link_to "My Account", edit_player_path(@player) %>.</p>
				
			</div>
		</div>
	</div>
</body>
</html>
