<!DOCTYPE html>
<html>
<head>
  <title>Make Me A Baseball Card :: Print Your Card</title>
  	<%= stylesheet_link_tag "print", :media => "print" %>
	<%= stylesheet_link_tag "print-screen", :media=>"screen" %>
	<%= stylesheet_link_tag "application", "tipTip", "style", :media =>"screen" %>
    <%= javascript_include_tag "application" %>
	<script>
		$(function(){
			$('#accordion').accordion({
				autoHeight: false,
				active: 1
			});

			$('.submittable').live('change', function() {
			  $(this).parents('form:first').submit();
			});
		});
	</script>
	<%= render "home/analytics" %>
</head>
<body>
	<!--[if lte IE 8]>
		<%= render :partial => "home/old_browser" %>
	<![endif]-->
	<% if notice %>
		<div id="notice" class="ui-widget">
			<div class="ui-state-highlight ui-corner-all" style="padding: 0.7em;">
				<p>
					<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
					<%= notice %>
				</p>
			</div>
		</div>
	<% end %>
	
	<%= yield %>
	
	<%= render :partial => "players/print_sidebar" %>
</body>
</html>
