<!DOCTYPE html>
<html>
<head>
  <title>Make Me A Baseball Card :: Print Your Card</title>
  	<%= stylesheet_link_tag "print", :media => "print" %>
	<%= stylesheet_link_tag "print-screen", :media=>"screen" %>
	<%= stylesheet_link_tag "application", "tipTip", "style", :media =>"screen" %>
    <%= javascript_include_tag "application" %>
	<script>
		$(function(){
			$('#accordion').accordion();
		});
	</script>
	<%= render "home/analytics" %>
</head>
<body>
	<!--[if lte IE 8]>
		<%= render :partial => "home/old_browser" %>
	<![endif]-->
	
	<%= yield %>
	
	<%= render :partial => "players/print_sidebar" %>
</body>
</html>
